.score{
    background-color: #FFEFE1;
    padding: 2.2%;
    border: 2px solid #ff912e;
    border-radius: 9%;
color: #FF912E;
width: 45%;
text-align: center;
display: flex;
justify-content: space-around;
align-items: center;
margin-bottom: 2%;
}
.num{
    display: flex;
    align-items: center;
    gap: 5%;
}
.board{
  color: #fff;  
  padding: 2%;
  background-color: #060A2D; 
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.title-here{
    font-family: 'Pacifico', cursive;
    font-size: 5vh;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}
.lead{
    text-align: center;
}
.sub{
    text-align: center;
    margin-bottom: 5%;
}
.Leadin{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    flex: 1;
    overflow-y: auto; 
}
.Lead{
    display: flex;
    flex-direction: column;
}
.ootd{
    font-weight: bolder;
    background-color: #FFEFE1;
    border: 2px solid #ff912e;
    border-radius: 9%;
color: #FF912E;
width: 70vw;
padding: 3%;
font-size: large;
margin: 4%;

}
.others{
   display: flex;
   font-weight: bold;
   display: flex;
   align-items: center;
   margin-left: 2%;
   justify-content: left;
}
.leaderBoard{
    border: 2px #060A2D solid;
    border-radius: 7%;
background-color: #F7F99D;
padding: 2%;
height: 15%;
width: 85%;;
margin: 3% 0%;
color: black;

}
.outfits{
    display: flex;
    flex-wrap: wrap;
    padding: 1% 5%;
    margin-bottom: 7vh;
    justify-content: space-between;
}
.outfit{
    background-image: url('./20d6e971-a65c-49d4-85e9-053f71d13e071681276633859DressesMISSPAPWomenCo-OrdsMISSPAPWomenDressesMISSPAPWomenDre1.jpg');
    height: 30vh;
    width: 45%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.person{
    display: flex;
    justify-content: space-around;
}
.score-is{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imag{
    background-image: url('../Home/logos/streak.png');
    height: 5vh;
    width: 8vw;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 2%;
}
.itag{
    background-image: url('../Home/logos/streak.png');
    height: 2vh;
    width: 7vw;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5%;
    margin-top: 2%;
}
.lead{
    color: black    ;
    font-size: larger;
}
footer {
    margin-top: auto; /* Push the footer to the bottom */
}