.image img{
    height: 65vh;
    width: 100%;
}
.head{
    font-size: large;
    font-weight: bold;
    padding-left: 2vw;
}
.body{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ootdlikes {
    background-color: pink;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 17px;
}