.foot{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    font-size: small;
     position: fixed;
    bottom: 0;
}
*{
    margin: 0;
    padding: 0;
}
.Myntra,.Mini,.community,.Trends,.Profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}


.myntra-logo{
    background-image: url('../logos/myntra.png');
    width: 11vw;
    height: 5vh;
    background-repeat: no-repeat;
    background-position: center;
}
.myntra-logo-black{
    background-image: url('../logos/myntra-black-logo.png');
    width: 11vw;
    height: 5vh;
    background-repeat: no-repeat;
    background-position: center;
}
.min-logo{
    background-image: url('../logos/vid.png');
    width: 11vw;
    height: 5vh;
    background-repeat: no-repeat;
    background-position: center;
}
.comm-logo{
    background-image: url('../logos/comm.png');
    width: 11vw;
    height: 5vh;
    background-repeat: no-repeat;
    background-position: center;
}
.comm-pink-logo{
    background-image: url('../logos/comm-pink.png');
    width: 11vw;
    height: 5vh;
    background-repeat: no-repeat;
    background-position: center;
}
.trend-logo{
    background-image: url('../logos/trend.png');
    width: 11vw;
    height: 5vh;
    background-repeat: no-repeat;
    background-position: center;
}
.profile-logo{
    background-image: url('../logos/profile.png');
    width: 11vw;
    height: 5vh;
    background-repeat: no-repeat;
    background-position: center;
}